div.wrapper {
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    width: min-content;
    margin: auto;
}

button {
    background-color: rgb(190, 190, 190);
    border: 0px;
    margin: auto;
}

* {
    border-radius: 10px;
    font-family: "Tahoma";
}

textarea {
    resize: none;
    border: 0px;
}

input {
    border: 0px;
}

select {
    resize: none;
    border: 0px;
}

html { 
    background: url(https://c1.wallpaperflare.com/preview/330/375/636/class-diary-exam-homework.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}

div.menu a {
    margin-right: 10px;
    margin-left: 10px;
}

.menu div {
    padding: 5px 5px;
    width: 100%;
}

.menu textarea {
    margin-left: auto;
    margin-right: 0;
}

img.search {
    margin-left: 10px;
    width: 30px;
}

.b-elem {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.f-elem {
    background-color: rgba(48, 48, 48, 0.5);
    padding: 10px;
    overflow-x: auto;
}

.bm {
    margin-bottom: 20px;
}

.tm {
    margin-top: 20px;
}

.lm {
    margin-left: 20px;
}

.rm {
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.text-box {
    background-color: rgb(28, 36, 46);
    color: rgb(224, 220, 197);
    padding: 5px;
}

.highlight {
    background-color:  rgb(224, 220, 197);
}

.text-box hr {
    border: 0px;
    border-top: 0.1px solid rgb(97, 91, 49);
    margin: 0;
}




